html,
body
  background-color light_yellow
  background-image url(/img/aquarelle.jpg)
  color #292933
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased /* fix bold mac osx */

.main-content
  margin-top 4rem /* = hauteur menu */
  margin-left auto
  margin-right auto
  max-width 1360px

section
  padding 1.6rem .5rem

h1, h2, h3, h4
  font-family 'DK Longreach', sans-serif
  color medium_blue

.artiste
  text-align center
  a
    cursor pointer
    img
      width 100%
      height auto
  h4.button
    font-family 'DK Longreach', sans-serif
    font-size 1.6rem
    color light_yellow
    text-transform uppercase
    width 100%
    padding 1rem 0 3rem 0
    background-color transparent
    background-image url(/img/trace.png) 
    background-size cover
    background-repeat no-repeat
    background-position 0 100%

.rer,
.rerc
  display inline-block
  border-radius 50%
  border 2px solid
  font-weight bold

.rer
  color #164b9c
  padding 3px 0
  font-size 14px

.rerc
  color #eac81c
  padding 0px 7px

#planning-table
  a
    font-weight bold
    text-transform uppercase

footer
  background-color dark_blue
  color #fefefe
  text-align center
  padding 2rem 1rem 1rem 1rem
  a
    color #fefefe
