html,
body
  font-family 'Open Sans', sans-serif
  background-color white

.top-bar
  color white
  line-height 38px
  strong
    font-family 'Open Sans', cursive
    color white
    font-size 32px
  a
    color rgb(232, 149, 53)

section
  padding 1.6rem
  background-color #ebf2f5 //#ffe

/**
 * Pouetance
 */

.illustration
  padding 20% 0
  color rgba(255,255,255,0.8)
  text-align center
  background url(/img/bg.jpg) no-repeat 50% 80% / cover
  font-weight bold
  h2
    font-size 2.4rem
    color rgba(255,255,255,0)
  p
    font-size 2.0rem
    color rgba(255,255,255,0)

h1,
h2,
h3,
h4
  font-family 'Open Sans', cursive
  color #e89535

.artiste
  text-align center
  h4
    font-size 1.2rem
    width 100%

.rer,
.rerc
  display inline-block
  border-radius 50%
  border 2px solid
  font-weight bold

.rer
  color #164b9c
  padding 3px 0
  font-size 14px

.rerc
  color #eac81c
  padding 0px 7px

#planning-table
  a
    font-weight bold
    text-transform uppercase

footer
  background-color #292933
  color #fefefe
  text-align center
  padding 2rem 1rem 1rem 1rem
