.social
  margin 1rem
  img
    display inline-block
    width 32px
    height 32px

.site
  background-color #56ae34
  img
    padding 4px

.adhoc
  background-color #292933

.facebook
  background-color #3b579d

.twitter
  background-color #00aced

.youtube
  background-color #cf2200

.instagram
  background-color #e6347e
  background-image linear-gradient(180deg,#ffd676 0,#f2a454 20%,#f05c3c 30%,#c22f86 80%,#6666ad)

.bandcamp
  background-color #477987

.soundcloud
  background-color #f97637

.etsy
  background-color #e65300
