.social
  margin 1rem
  img
    display inline-block
    width 32px
    height 32px

.site
  background-color #56ae34
  img
    padding 4px

.facebook
  background-color #3b579d

.twitter
  background-color #00aced

.youtube
  background-color #cf2200

.instagram
  background-color #e6347e

.bandcamp
  background-color #477987

.soundcloud
  background-color #f97637