.social
  margin 1rem
  img
    display inline-block
    width 32px
    height 32px

.facebook
  background-color #3a5795

.twitter
  background-color #55acee

.youtube
  background-color #f00

.bandcamp
  background-color #ff0