/**
 * Barre du haut + menu
 */

.top-bar
  background-color dark_blue
  position fixed
  width 100%
  z-index 100
  top 0
  box-shadow 0 0 10px black

  .top-bar-inner
    display flex
    line-height 4rem
    align-items center
    max-width 1360px
    margin 0 auto

    .top-bar-title
      margin-right auto
      font-size 2.4rem
      white-space nowrap
      h1
        color light_yellow
        margin 0
        padding 0 .5rem
        text-decoration inherit

    .top-bar-burger
      display none
      border 0
      color light_green
      background none
      font-size 2.4rem
      padding 0 1.2rem
      line-height 4rem

    .top-menu
      color white
      text-transform uppercase
      font-size 1.6rem
      font-family 'DK Longreach'
      > ul
        margin-bottom 0
        padding-left 0
        > li
          display inline-block
          position relative
          white-space nowrap
          &:hover
            background light_green
            > a
              color #292933
            > ul
              list-style-type none
              padding 0
              z-index 100
              display block
              li
                a
                  color light_green
                  display inline-block
                  padding .25rem 1.25rem
          > ul
            position absolute
            display none
            background #292933
            color #fff
            li
              display block
              &:hover
                background light_green
                color #292933
                a
                  color #292933
          > a
            color light_green
            padding 0 1.25rem
            line-height 4rem

    @media screen and (max-width: 768px)

      .top-bar-burger
        display block
        transition transform .2s ease
        &.selected
          transform rotate(-90deg)

      .top-menu
        display block
        position absolute
        width 100%
        left 0
        z-index 100
        overflow hidden
        background-color #292933
        max-height 0
        transition max-height .2s
        &.selected
          display block
          /* 7*4 entrées de menu */
          max-height 28rem
          > ul > li
            display block
            text-align right
            &:hover
              > ul
                display none