@import '_knacss'
@import '_fonts'

html
  overflow hidden
  height 100%

body
  height 100%
  overflow auto
  background-color #0f0
  background-image url(/img/bg.jpg)
  background-size cover
  background-position top center
  color #fff

a
  color inherit
  text-decoration none

li
  list-style-type none

header
  text-align center

  h1
    font-size 4.6em

nav.menu
  font-size 2.0em
  font-weight 700
  font-family 'Amatic SC', cursive
  color #fff !important

  > ul
    list-style-type none
    display flex
    justify-content space-around
    color #fff !important
    padding 0

    &:hover
      & > li > ul
        position absolute
        display block
        padding 0

        > li
          background-color #000

    > li > ul
      display none
