doctype html
html
  head
    include common/_head.jade
  body
    include common/_logo.jade
    include common/_menu.jade
    #main-content
      h2 Grande Scène
    include common/_footer.jade
    include common/_js.jade
