doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Der'Fest
    meta(name='description', content='Le dernier festival de l année')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/derfest.css')
  body

    header
      h2 Festival AD'HOC 15 octobre 2016
      h1 Der'Fest #1
      p Parking du Breuil / Epinay-sur-Orge

    nav.menu
      ul
        li Programmation
          ul
            li Artistes
            li Grande Scène
            li Petite Scène
        li Accès
          ul
            li Plan du Festival
            li Transports
        li Partenaires

    script(src='js/derfest.js')
    script.
      document.addEventListener("DOMContentLoaded", function(event) {
        require('app').init();
        //var app = require('app');
        //app.init();
      });
