nav.menu
  ul
    li Programmation
      ul
        li
          a(href="/artistes") Artistes
        li
          a(href="/grande-scene") Grande Scène
        li
          a(href="/petite-scene") Petite Scène
    li Accès
      ul
        li
          a(href="/plan") Plan du Festival
        li
          a(href="/transports") Transports
    li
      a(href="/partenaires") Partenaires
